body{
  background-color: black;
  color: white;
  h1,h2,h3,h4{
    font-family: 'Playfair Display', serif;
    letter-spacing: 2px;
  }
}
.full-w{
  width: 100%;
}
#masthead{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: -1;
  text-align: center;
}
.divider{
  height: 1px;
  width: 100%;
  background-color: white;
  margin: 2% auto;
  max-width: 1000px;
}
.promo{
  max-width: 1600px;
}
.logo{
  max-width: 900px;
}
.text-shadow{
  text-shadow: 0px 0px 10px #000;
}
.album-wrap{
  margin-top: 25px;
  text-align: center;
  .album{
    border: 1px white solid;
    max-width: 263px;
  }
}
.itunes{
  margin-top: 20px;
  max-width: 175px;
}
.album-info{
  margin-top: 30px;
  h1,h2,h3,h4{
    margin: 1px auto !important;
  }
}
@media (max-width: 1199px){
  .album-info{
    margin-top: 0px;
  }
}
@media (max-width: 992px){
  .album-info{
    margin-top: 0px;
    h1{
      font-size: 30px;
    }
    h2{
      font-size: 15px;
    }
  }
}
@media (max-width: 768px){
  .promo{
    margin-top: 110px;
  }
  .album-info{
    margin-top: 50px;
  }
}
@media (max-width: 462px){
  .album-info{
    margin-top: 0px;
  }
}
@media (max-width: 462px){
  .promo{
    margin-top: 130px;
  }
}
@media (max-width: 422px){
  .album-info{
    h1{
      font-size: 25px;
    }
  }
}
.spacer{
  height: 50px;
  width: 100%;
}
#overflow-hider{
  width:330px;
  padding-top:52px;
  height:312px;
  overflow:hidden;
  margin: 0 auto;
}
