<div class="text-center footer">
  <a href="#" target="_blank">
    <span class="fa-stack fa-lg">
      <i style="color: white;" class="fa fa-circle fa-stack-2x"></i>
      <i id="facebook" style="color: black;" class="fa fa-facebook fa-stack-1x fa-inverse"></i>
    </span>
  </a>
  <a href="#" target="_blank">
    <span class="fa-stack fa-lg">
      <i style="color: white;" class="fa fa-circle fa-stack-2x"></i>
      <i id="twitter" style="color: black;" class="fa fa-twitter fa-stack-1x fa-inverse"></i>
    </span>
  </a>
  <a href="#" target="_blank">
    <span class="fa-stack fa-lg">
      <i style="color: white;" class="fa fa-circle fa-stack-2x"></i>
      <i id="youtube" style="color: black;" class="fa fa-instagram fa-stack-1x fa-inverse"></i>
    </span>
  </a>
  <a href="http://fearlessrecords.com/" target="_blank">
    <img src="https://s3.amazonaws.com/myfangate.com/oaa/fearlesslogo.jpg">
  </a>
</div>
