<div class="container">
  <div class="row visible-xs">
    <div class="col-lg-12 text-center text-shadow">
      <h2>ENTER TO  WIN A SIGNED  CUSTOM  GUITAR  FROM</h2>
      <div class="divider"></div>
    </div>
  </div>
  <div class="row promotext">
    <div class="col-lg-12 text-center text-shadow">
      <h1 class="hidden-xs">ENTER TO  WIN A SIGNED  CUSTOM  GUITAR  FROM</h1>
      <div class="divider hidden-xs"></div>
      <img class="full-w logo" src="https://s3.amazonaws.com/myfangate.com/oaa/logo.png">
    </div>
  </div>
</div>
<div class="container album-wrap">
  <div class="row">
    <div class="col-lg-3 col-lg-offset-2 col-md-3 col-md-offset-2 col-sm-3 col-sm-offset-2 col-xs-6">
      <img class="full-w album" src="https://s3.amazonaws.com/myfangate.com/oaa/album-cover.jpg">
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 album-info">
      <h2>NEW ALBUM</h2>
      <h1>'LOST ISLES'</h1>
      <h2>AVALIABLE NOW</h2>
      <span style="width: 100%;">
        <img class="itunes full-w" style="width:40%;" src="https://s3.amazonaws.com/myfangate.com/oaa/best-buy.png">
        <a href="#"><img class="itunes full-w" style="width: 50%;" src="https://s3.amazonaws.com/myfangate.com/oaa/available-badge.png"></a>
      </span>
    </div>
  </div>
</div>
<div id="masthead">
  <img class="promo full-w" src="https://s3.amazonaws.com/myfangate.com/oaa/promophoto.jpg" onload="promoResizer();">
</div>
