<div class="container">
  <div class="row">
    <div class="col-lg-12 text-center">
      <div class="divider"></div>
      <h1>JOIN THE #432CREW & #LOSTISLES COMMUNITY</h1>
      <div class="divider"></div>
    </div>
    <div class="col-lg-10 col-lg-offset-1">
      <div id="social-stream"></div>
    </div>
  </div>
</div>
