---
title: Oceans Ate Alaska
---
<div class="container">
  <div class="col-lg-12 text-center text-shadow visible-xs">
    <h4>ENTER TO  WIN A SIGNED  CUSTOM  GUITAR  FROM</h4>
    <div class="divider"></div>
  </div>
  <div class="row promotext">
    <div class="col-lg-12 text-center text-shadow">
      <h1 class="hidden-xs">ENTER TO  WIN A SIGNED  CUSTOM  GUITAR  FROM</h1>
      <div class="divider hidden-xs"></div>
      <img class="full-w logo" src="https://s3.amazonaws.com/myfangate.com/oaa/logo.png">
    </div>
  </div>
</div>
<div id="masthead">
  <img class="promo full-w" src="https://s3.amazonaws.com/myfangate.com/oaa/promophoto.jpg" onload="promoResizer();">
</div>
